language: android
android:
  components:
    - tools
    - platform-tools
    - build-tools-23.0.1
    - android-23
    - extra-android-m2repository
jdk: oraclejdk7

script:
  - ./gradlew test --stacktrace --debug